@font-face {
  font-family: 'Ubuntu';
  src: url('./assets/fonts/Ubuntu/Ubuntu-Light.ttf');
}

@font-face {
  font-family: 'Ubuntu-Bold';
  src: url('./assets/fonts/Ubuntu/Ubuntu-Bold.ttf');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Ubuntu';
  user-select: none;
}

body {
  min-height: 100vh;
  background-color: rgb(17, 17, 17);
}

html {
  scroll-behavior: smooth;
}

.app-container {
  padding: 3rem 5rem;
  @media (max-width: 700px) {
    padding: 2.5rem;
  }
}